@import "libs/base.scss";
@import "libs/module.scss";


header
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: solid 3px $danger;
	height: 70px;
	background-color: $backgroundSecondary;
}

footer
{
	background-color: $backgroundSecondary;
	border-top: solid 3px $danger;
	font-size: 1em;
	height: 70px;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	*
	{
		margin: 0 3px;
	}
}

main
{
	padding-bottom: 120px;
}
