@import "libs/base.scss";
@import "libs/module.scss";


header
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: solid 3px $danger;
	height: 70px;
}

footer
{
	border-top: solid 3px $danger;
	font-size: 0.7em;
	min-height: 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	*
	{
		margin: 0 3px;
	}
	button
	{
		@extend .menu-btn;
		font-weight: 400;
		color: $danger;
		&:hover
		{
			color: darken($danger, 10);
		}
	}
}

.footer-container
{
	@media #{$small}
	{
		margin: 0;
	}
}

main
{
	padding-bottom: 80px;
}